<% if article.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

  <ul>
    <% article.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="editor container-fluid">
  <%= bootstrap_form_with(model: @article, local: true) do |f| %>
  <div class="row" id="editor">
    <div class="col-md-4 editor-header">
      <h1><%= yield(:form_title) %></h1>
      <%= f.submit yield(:btn_name), class: 'btn btn-primary btn-block' %>
    </div>
    <div class="col-md-8 editor-header">
      <%= f.text_area :title, label_as_placeholder: true,
                            autofocus: true,
                            class: 'article-title',
                            id: 'article_title' %>
    </div>

    <div class="col-md-6">
      <%= f.text_area :content, class: 'editor_parts', id: 'article_content',
                          placeholder: 'markdown',
                          "v-model" => "input" %>
    </div>

    <div class="col-md-6 d-none d-md-block">
      <label>Preview</label>
      <div v-html='input | marked' class="editor_parts overflow-auto" id="preview_area">
      </div>
    </div>

    <% end %>
  </div>
</div>

<script type="text/javascript">
  window.addEventListener('turbolinks:load',
    function () {
      created: function () {
        marked.setOptions({
          langPrefix: '',
          highlight: function (code, lang) {
            return hljs.highlightAuto(code, [lang]).value
          }
        });
      },
      new Vue({
        el: '#editor',
        data: {
          input: '<%== j@article.content %>',
        },
        filters: {
          marked: marked,
        },
      });
    });
</script>