<% if article.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

  <ul>
    <% article.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="editor-form container-fluid">
  <%= bootstrap_form_with(model: @article, local: true) do |f| %>

  <div class="row" id="editor">
    <div class="col-md-4 order-md-2">
      <h1 class="editor-form"><%= yield(:form_title) %></h1>
      <%= f.submit yield(:btn_name), class: 'btn btn-primary form-control' %>
      <!-- 切り替えボタンの設定 -->
      <button type="button" class="btn btn-primary" onclick="$('#staticBackdrop').modal('show')">
        ココを押すと表示
      </button>

      <!-- モーダルの設定 -->
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">記事固有パスワード</h5>
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= @article.guest_token %>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-8 order-md-1">
      <%= f.text_area :title, label: "Title",
                            autofocus: true,
                            placeholder: 'Title',
                            id: 'article_title' %>
    </div>

    <div class="col-md-6  order-md-3">
      <%= f.text_area :contet, class: 'editor_parts', id: 'article_content',
                          placeholder: '本文',
                          "v-model" => "input", name: "article[content]" %>
    </div>

    <div class="col-md-6  order-md-4">
      <label>Preview</label>
      <div v-html='input | marked' class="editor_parts overflow-auto" id="preview_area">
      </div>
    </div>

    <% end %>
  </div>
</div>

<script type="text/javascript">
  window.onload = function () {
    new Vue({
      el: '#editor',
      data: {
        input: '<%== j@article.content %>',
      },
      filters: {
        marked: marked,
      },
    });
  };
</script>
<script>
  jQuery(function ($) {
    $('#staticBackdrop').modal('show');
  });
</script>
<script>
  $(function () {
    $('#staticBackdrop').modal('show');
  })
</script>