<div class="editor container-fluid" id="editor">
  <%= bootstrap_form_with(model: @article, inline_errors: true, local: true) do |f| %>
  <div class="row editor-body">
    <div class="col-12 title-area">
      <%= f.text_area :title, hide_label: true, placeholder: 'Title (最大100文字）',
                            autofocus: true,
                            class: 'textarea-title', tabindex: '1' %>
    </div>
    <div class="col-md-6 input-area">
      <%= f.text_area :content, class: 'textarea-content', tabindex: '2',
                          placeholder: 'markdown', 
                          "v-model" => "input" %>
    </div>
    <div class="col-md-6 d-none d-md-block preview-area">
      <label>Preview</label>
      <div v-html='input | marked' class="textarea-perview article-style overflow-auto" id="preview_area">
      </div>
    </div>
  </div>
  <div class="editor-footer">
    <%= f.hidden_field :article_token, :value => params[:article_token] %>
    <%= f.submit yield(:btn_name), class: 'btn btn-primary btn-submit-editor', tabindex: '3' %>
  </div>
  <% end %>
</div>

<script>
  window.addEventListener('turbolinks:load',
    function () {
      new Vue({
        el: '#editor',
        data: {
          input: '<%== j@article.content %>',
        },
        filters: {
          marked: marked,
        },
      });
    });
</script>