<div class="article-view container-fluid">
  <div class="row">
    <div class="col-3 d-none d-lg-block style-important content">
      <div class="article-info">
        <h4>Article info</h4>
        <ul>
          <li>
            <% if @author.is_guest_author? %>
            Author: <%= @article.user.username %></a>
            <% else %>
            Author: <a href="<%= user_path(@author) %>"><%= @article.user.username %></a>
            <% end %>
          </li>
          <li>
            Accepted: <%= l @article.created_at.in_time_zone('Tokyo'), format: :short %>
          </li>
          <li>
            Updated: <%= l @article.updated_at.in_time_zone('Tokyo'), format: :short %>
          </li>
        </ul>
      </div>
      <div class="outline">
        <h4>Outline</h4>
        <%= toc(@article.content) %>
      </div>
    </div>
    <div class="col-lg-9 content">
      <div class="article-main">
        <div class="article-header">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <% if @author.is_guest_author? then %>
              <%= link_to "編集", "#", class: "nav-link", "data-toggle": :"modal", "data-target": :"#edit-modal" %>
              <%= render 'modal_form', article: @article, id: "edit-modal" %>
              <% else %>
              <%= link_to "編集", edit_article_path(@article), class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if @author.is_guest_author? then %>
              <%= link_to "削除", "#", class: "nav-link" , "data-toggle": :"modal", "data-target": :"#destroy-modal" %>
              <%= render 'modal_form', article: @article, id: "destroy-modal" %>
              <% else %>
              <%= link_to "削除", article_path(@article), method: :delete,  class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                href="<%= TweetUriEncord(text: @article.title, url: request.url, hashtags: "mdClip") %>" target=_blank
                rel=noopner><i class="fab fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="nav-item">
              <button class="far fa-clipboard fa-2x btn-copy" id="btn-copy"
                data-clipboard-text="<%= "#{@article.title} #{request.url}" %>"></button>
            </li>
          </ul>
        </div>
        <h1><%= @article.title %></h1>
        <p>
          <%= markdown(@article.content) %>
        </p>
      </div>
    </div>
  </div>
</div>
<script>
  var clipboard = new ClipboardJS('#btn-copy');
  clipboard.on('success', function (e) {
    console.log(e);
  });
  clipboard.on('error', function (e) {
    console.log(e);
  });
</script>
<script>
  new ClipboardJS('#btn-copy-modal', {
    container: document.getElementById('modal_initial')
  });
</script>