<div class="article-view container-fluid">
  <div class="row">
    <div class="col-3 d-none d-lg-block style-important content">
      <div class="article-info">
        <h4>Article info</h4>
        <ul>
          <li>
            Author: <a href="<%= user_path(@writer) %>"><%= @article.user.username %></a>
          </li>
          <li>
            Accepted at: <%= @article.created_at%>
          </li>
          <li>
            Updated at: <%= @article.updated_at%>
          </li>
        </ul>
      </div>
      <% if toc(@article.content) %>
      <div class="outline">
        <h4>Outline</h4>
        <%= toc(@article.content) %>
      </div>
      <% end %>
    </div>
    <div class="col-lg-9 content">
      <div class="article-main">
        <div class="article-header">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <%= link_to "編集", edit_article_path(@article), class: "nav-link" %>
            <li class="nav-item">
              <%= link_to "削除", article_path(@article), method: :delete,  class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= TweetUriEncord(text: @article.title, hashtags: "beaware") %>" target=_blank
                rel=noopner><i class="fab fa-twitter-square fa-2x"></i></a>
            </li>
          </ul>
        </div>
        <h1><%= @article.title %></h1>
        <p>
          <%= markdown(@article.content) %>
        </p>
      </div>
    </div>
  </div>

</div>