<div class="container user-page" id="user_show">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar">
                <h2><%= "#{@user.username}'s articles" %></h2>
                <%= form_tag user_path(@user), :method => 'get', class: "form-inline" do %>
                <%= text_field_tag :search, params[:search], class: "form-control"%>
                <%= submit_tag "Search", :name => nil, class: "btn btn-primary"%>
                <% end %>
            </nav>
            <div class="articles-header">
                <h4><i class="fas fa-history"></i> Most recent articles</h4>
            </div>
            <%= render @articles, article: @article %>
            <%= paginate @articles %>
        </div>
    </div>
</div>